li {
    list-style-type: none;
}
.header a {
    color: #000;
}
.header a:hover {
    color: #000;
}
section {
    background-color: black;
    background: url("img/datacenter-servers3.jpg") no-repeat;
    height: 50%;
    opacity: 0.9;
    color: white;
}
footer {
    background-color: #303030;
    color: white;
}
